src/SHSlib/analyse/__pycache__/__init__.cpython-38.pyc
src/SHSlib/analyse/__pycache__/getMomentum.cpython-38.pyc
src/SHSlib/analyse/__pycache__/getPartner.cpython-38.pyc
src/SHSlib/analyse/__pycache__/getSeperation.cpython-38.pyc
src/SHSlib/__pycache__/__init__.cpython-38.pyc
